body {
    font-size: medium;
}

.navbar-brand img {
    border-radius: 50%;
}

HEAD
#helyek{
   text-align: center; 
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    transition: transform 0.2s;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
    color: #777;
}


.modal-body {
    position: relative;
    padding: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#asd1{
    background-color: azure;
>>>>>>> 8dbc6e0dc193a172148c2890a66fdcacfd63fb9b
}