body{
    font-size: medium;
}
#bodyy{
    margin-left: 25px;

}

.navbar-brand img {
    border-radius: 50%;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    transition: transform 0.2s;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
    color: #777;
}


.modal-body {
    position: relative;
    padding: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#asd1 {
    background-color: azure;
}


#link_next {
    color: #FFA;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20%;
    background-color: limegreen;
}

#link_next:hover {
    color: darkblue;
    transform: scale(1.3);
}
#forma{
    border-style: hidden;
}

#label1{
    margin: auto;

}

#link_previous {
    color: #FFA;
    display: inline-block;
    padding: 8px 16px;
    background-color: limegreen;
    margin-top: 10px;
}

#link_previous:hover {
    color: pink;
}

h1 {
    font-size: 36px; /* set font size */
    font-weight: bold; /* set font weight to bold */
    text-align: center; /* center align text */
    color: #333; /* set font color */
    margin-top: 20px; /* add top margin */
    margin-bottom: 10px; /* add bottom margin */
  }
#helyek{
    
    font-weight: bold;
    /* set font weight to bold */
    text-align: center;
    /* center align text */
    color: #333;
    /* set font color */
    margin-top: 20px;
    /* add top margin */
    margin-bottom: 10px;
    /* add bottom margin */

}

.responsive {
    width: 80%;
    height: auto;
}

th{
    width: 15%;
}

td{
    width: 15%;
}